body
  font-size: 14px;
}

nav {
<<<<<<< HEAD
  background-color: yellow;
=======
  background color: yellow;
>>>>>>> 1b206cdcce60304778affb7a2c90dd06305575af
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
<<<<<<< HEAD
}
=======

>>>>>>> 1b206cdcce60304778affb7a2c90dd06305575af

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
<<<<<<< HEAD
  font-family: sans-serif;
=======
  font-family sans-serif;
>>>>>>> 1b206cdcce60304778affb7a2c90dd06305575af
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
<<<<<<< HEAD
  text-align: center;
=======
  text-align center
>>>>>>> 1b206cdcce60304778affb7a2c90dd06305575af
}

h3 {
  font-size: 1.3em;
}
<<<<<<< HEAD
/*
Changed name to elementx to change the color of the last div elements
*/
.elementx {
  background-color: blue;
}
.element {;
  height: 100px;
  margin: 10px;
  width: 100%;
}
=======

.element {
  background-color: green;
  height: 100px;
  margin 10px 0;
  width: 100%;
>>>>>>> 1b206cdcce60304778affb7a2c90dd06305575af
